# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.py	 diff=astextplain
*.html	 diff=astextplain
*.sqlite3	 


