{% extends "mblog/base.html" %}

{% block head %}
    <script>
        function counter(el) {
            var wrapper = document.createElement('DIV');
            wrapper.innerHTML = el.value;
            var len = (wrapper.textContent || wrapper.innerText).length;
            document.getElementById('count').innerHTML = 140 - el.value.length;
        }
    </script>
{% endblock %}

{% block header %}
    <div align="center"><h2>10 last post created by, <a href="{{ autor }}/profile">{{ autor }}</a>.</h2></div>
    <p><h3><a href="/">Back to main page.</a></h3></p>
{% endblock %}

{% block content %}
    {% for post in user_posts %}
        <div class="comment">
            {{ post.post_text }}
            <div class="info"> Write by <b><a href="/{{ post.post_user }}">{{ post.post_user }}</a></b>,
                at {{ post.post_date }} </div>
        </div>
    {% endfor %}


{% endblock %}
